# DIA 1 Alberto Daniel Garza Contreras
## Temario:
- Tipos de datos
- Operaciones Matematicas
- Operaciones con String
- Operaciones Logicas
- Operaciones Booleanas

## Tipos de Datos

In [ ]:
# Existen los Datos
enteros = 4 #Son numeros sin decimales
flotantes = 99. #Son numeros con decimales
type(flotantes)

float

In [ ]:
# Caracteres / Strings
caracteres = "a"
cadena_caracteres = "todas las letras que tu quieras"
type(cadena_caracteres)

str

In [ ]:
# Booleanos
falso = False # falso es 0
verdadero = True # verdadero es 1

In [ ]:
# Imprimir
print(enteros)
print(flotantes)
print(caracteres)
print(cadena_caracteres)
print(falso)
print(verdadero)

4
99.0
a
todas las letras que tu quieras
False
True

### Espera, el usuario tambien puede ingresar datos

In [ ]:
# Con la funcion input, el usuario puede ingresar cualquier tipo de dato
# y podemos guardarlo en alguna variable
name = input("Mi nombre es: ") #Te lo guarda como un string
print(name)

num = input("Ingresa un numero: ")
print(num + 1)

In [16]:
num = int(input("Ingresa un numero: "))
print(num + 1)

Ingresa un numero: 4
5

## Operaciones Matematicas

In [20]:
# 4to nivel de importancia
# Suma ordinaria
print("Suma ordinaria: ")
print(3 + 4) #un 7
variable1,variable2 = 20,40 #un 60
print(variable1 + variable2)

#Resta ordinaria
print("Resta ordinaria: ")
print(2 - 5) # -3

#Declaracion de variables
v1 = 10.4
v2 = 15
resultado = v2 - v1 # 4.6
print(resultado)

Suma ordinaria:
7
60
Resta ordinaria:
-3
4.6

In [23]:
# 3er nivel de importancia
#Multiplicacion ordinaria
print("Multipliacion ordinaria")
M1, M2 = 2,3.14
print(M1 * M2) #6.28
#Division ordinaria
print("-------------")
print("Division ordinaria")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)
#Division de Piso
print("-------------")
print("Division de Piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)
print( 6 / 2 *3)

Multipliacion ordinaria
6.28
-------------
Division ordinaria
0.4
1.2
0.8
-------------
Division de Piso
0
1
0
9.0

In [25]:
#Potencias
print("Potencias")
print(2 ** 3) #8
P1,P2 = 7,2
print(P1 ** P2) #49

Potencias
8
49

In [26]:
# Area de un circulo
pi = 3.14
r = 4
A = pi * (r ** 2)
A

50.24

# Opearacion String

In [30]:
HM = "Hola Mundo"
print(HM)

a,b = "ta", "co"
print(a + " " +b)

Hola Mundo
ta co

In [33]:
# Animal, debe tener un nombre, le debe gustar la fruta, debe tener una profesion
Animal = "Perro"
Nombre = "Babidi"
Fruta = "Mango"
Profesion = "Ingeniero"
print(f"Hola soy {Nombre} y soy un {Animal}, me gusta el {Fruta} y soy {Profesion}")

Hola soy Babidi y soy un Perro, me gusta el Mango y soy Ingeniero

## Operaciones Logicas

In [ ]:
# Empezamos con los operadores logicos <,>, <=,>=, and, or (SIEMPRE RETORNA UN BOOLEANO)

In [40]:
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 > 14
b4 = 14 >=14
b4

True

In [41]:
# Quieres unn sandwich con todo
pan = True
queso  = True
mayonesa = True
jamon = False
print(pan and queso and mayonesa and jamon)

False

In [42]:
print(True * 20)
print(False * 10)

20
0